@model Fiap.AcademiaMarota.MVC.ViewModel.ProfessorViewModel


@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastro de Professores</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Informações do Professor</h4>
    </div>
    <div class="panel-body">
        @MensagemHelper.Mensagem(Model.Mensagem, "success")
        @Html.ValidationSummary()
        @using (Html.BeginForm("Cadastrar", "Professor"))
        {
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(c => c.Nome)
                    @Html.TextBoxFor(c => c.Nome,
                new
                {
                    @class = "form-control",
                    placeholder = "Digite o Nome"
                })
                    @Html.ValidationMessageFor(c => c.Nome)
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(c => c.DataAdmissao)
                    @Html.TextBoxFor(c => c.DataAdmissao,
                new
                {
                    @class = "form-control",
                    placeholder = "Digite a Data de admissão"
                })
                    @Html.ValidationMessageFor(c => c.DataAdmissao)
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(c => c.Email)
                    @Html.TextBoxFor(c => c.Email,
                new
                {
                    @class = "form-control",
                    placeholder = "Digite o Email"
                })
                </div>
                <div class="panel-heading">
                    <h4>Modalidades</h4>
                </div>
                <div class="col-md-12">
                    <!--Tentar criar uma lista de checkbox com as modalidades-->
                    @for (int i = 0; i < Model.ListaModalidade.Count(); i++)
                    {
                        @Html.CheckBox("CheckBox")
                        @Html.Label(Model.ListaModalidade.ToList()[i].Titulo as string)
                    }
                </div>
                <div class="panel-heading">
                    <h4>Endereço</h4>
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(c => c.Logradouro)
                    @Html.TextBoxFor(c => c.Logradouro,
                new
                {
                    @class = "form-control",
                    placeholder = "Digite o logradouro"
                })
                    @Html.ValidationMessageFor(c => c.Logradouro)
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(c => c.Cep)
                    @Html.TextBoxFor(c => c.Cep,
                new
                {
                    @class = "form-control",
                    placeholder = "00000-000"
                })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(c => c.Cidade)
                    @Html.TextBoxFor(c => c.Cidade,
                new
                {
                    @class = "form-control",
                    placeholder = "Digite a cidade"
                })
                    @Html.ValidationMessageFor(c => c.Cep)
                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(c => c.Estado)
                    @Html.DropDownListFor(c => c.Estado, Model.Estados, "Selecione..",
                new
                {
                    @class = "form-control",
                })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(c => c.Celular)
                    @Html.TextBoxFor(c => c.Celular,
                new
                {
                    @class = "form-control",
                    placeholder = "(00)00000-0000"
                })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(c => c.Telefone)
                    @Html.TextBoxFor(c => c.Telefone,
                new
                {
                    @class = "form-control",
                    placeholder = "(00)0000-0000"
                })
                </div>
                <div class="form-group col-md-12">
                    @SubmitHelper.Submit("Enviar", "btn-success")
                    @Html.ActionLink("Cancelar", "Index", "Aluno", null, new { @class = "btn btn-default" })


                </div>

            </div>
        }
    </div>
</div>

<script>
    $().ready(function () {

        $("#Cep").blur(function () {
            $.ajax({
                url: "http://api.postmon.com.br/v1/cep/" + $(this).val(),
                type: "GET",
                success: function (retorno) {
                    $("#Logradouro").val(retorno.logradouro);
                    $("#Cidade").val(retorno.cidade);
                    $("#Estado").val(retorno.estado);
                }
            })
        });

        $("#DataNascimento").datepicker();

        $("#Cpf").inputmask("999.999.999-99");
        $("#Celular").inputmask("+99 (99) 9999-99999{0,1}")
        $("#Telefone").inputmask("+99 (99) 9999-9999")

        $("#Cep").inputmask("99999-999");

        //Seleciona todos os .panel-heading
        $(".panel-heading").on("click", function () {
            //Seleciona o .panel-body
            $(this).parent().find(".panel-body").slideToggle();
            $(this).find("span").toggleClass("glyphicon-plus-sign");
        });
    });
</script>
